# Node.js
node_modules
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# Output directories
dist
build

# Logs
logs
*.log
yarn-debug.log*
.yarn-integrity

# Editor directories and files
.idea
.vscode
*.swp
*.swo
.DS_Store

# MacOS system files
.DS_Store